// Graphics CSS goes here
.state-game-source {
    text-decoration: none;
    color: gray;
}

#state-game-timer {
    margin-bottom: 0.5rem;
    font-family: $sans;
    display: flex;
}

.interval {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.75rem, 1.75vw, 1.75rem);
    height: 100%;
}

.number {
    font-size: clamp(1rem, 3vw, 2.75rem);
}